.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  display: flex;
  flex-direction: column;

  ul.imageLogo {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;

    li {
      width: 60%;
    }

    img {
      width: 100%;
    }
  }

  ul.listMainIcons {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    margin-top: 80px;

    li:nth-child(4) {
      margin-bottom: 50px;
      margin-top: auto;
    }

    li {
      margin: 15px;
    }

    button {
      cursor: pointer;
    }

    .active button {
      background-color: white;
    }
  }
}